.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ededed;
  z-index: 2;
  /* flex: 1; */
  padding: 8px 10px;
}
.sidebar {
  flex: 20%;
  min-width: 300px;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  /* min-width: 400px; */
}

.sidebar__header i {
  font-size: 1.3rem;
  flex: 0.3;
  /* margin-right: 4px; */
}
.headerIcons {
  display: flex;
}
.headerIcons i {
  margin-right: 25px;
}

.sidebar__searchBar {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
  justify-content: center;
}
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchContainer > input {
  border: none;
  padding: 10px;
  margin-left: 10px;
  outline: none;
}
.searchContainer i {
  color: gray;
}
.close-nav-btn {
  display: none;
}
.myAvatar {
  vertical-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: auto;
}
.fa-sliders {
  display: none;
  position: absolute;
  left: 3%;
  top: 20%;
}
